/* Reset global e estilo básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f8f8f8;
  color: #333;
}

.checkout {
  max-width: 650px;
  margin: 14px auto;
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
  border: 1px solid #e0e0dc; /* Borda amarela */
}

h4 {
  font-size: 30px;
  font-weight: 600;
}

.subtext {
  font-size: 17px;
  color: #555;
  margin: 10px 0;
}

/* Estilo para a oferta */
.offer-container {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.offer-item {
  background-color: #ecece6;
  padding: 20px;
  margin: 10px 0;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  border: 2px solid #f1c40f; /* Borda amarela */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Imagem acima dos textos */
}

.offer-left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Garante que a imagem fique em cima dos textos */
}

.offer-info {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}

.offer-info h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 10px; /* Distância entre o título e o preço */
}

.offer-info span {
  font-size: 20px;
  color: #333;
  font-weight: 800;
}

.offer-item img {
  width: 600px; /* Aumenta a imagem */
  height: 400px;
  object-fit: contain;
}

/* Botões */
.btn-submit {
  background-color: #d32f2f;
  color: #fff;
  padding: 10px 150px;
  font-size: 18px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}
.highlight-text {
  color: #e74c3c; /* Cor vermelha */
  font-weight: 700; /* Deixar em negrito */
}

.btn-submit:hover {
  background-color: #b71c1c;
}

.no-thanks {
  display: block;
  margin-top: 20px;
  color: #777;
  font-size: 14px;
  text-decoration: none;
}

.no-thanks:hover {
  color: #333;
  text-decoration: underline;
}
